<template>
  <Button icon="pi pi-home" @click="routeToHome" class="mb-2"/>
  <DataTable :value="favoriteUsers" v-model:selection="userSelected" showGridlines dataKey="email"
             responsiveLayout="scroll" @rowSelect="rowClick" selectionMode="single">
    <Column field="gender" header="Género">
      <template #body="{data}">
        {{ data.gender }}
      </template>
    </Column>
    <Column field="name" header="Nombre" filterField="name">
      <template #body="{data}">
        {{ data.name.title }} {{ data.name.first }} {{ data.name.last }}
      </template>
    </Column>
    <Column field="email" header="Email" filterField="email">
      <template #body="{data}">
        {{ data.email }}
      </template>
    </Column>
    <Column field="nat" header="Nacionalidad" filterField="nat">
      <template #body="{data}">
        {{ data.nat }}
      </template>
      <template #filter="{filterCallback}">
        <Button type="button" icon="pi pi-check" class="p-button-success"></Button>
      </template>
    </Column>
    <Column field="birthdate" header="Fecha de nacimiento" filterField="date" dataType="date">
      <template #body="{data}">
        {{ formatDate( data.dob.date ) }}
      </template>
    </Column>
    <Column field="registeredDate" header="Fecha de registro" filterField="date" dataType="date">
      <template #body="{data}">
        {{ formatDate( data.registered.date ) }}
      </template>
    </Column>
  </DataTable>
  <Button class="mt-3">
    <download-csv :data="exportUsers">Exportar</download-csv>
  </Button>
</template>
<script>
import { useRouter } from 'vue-router'
import { userStore } from '../../stores/users.ts'

export default {
  name: "FavoritesUsers",
  setup() {
    const router = useRouter(),
          store  = userStore()
    return { router, store };
  },
  mounted() {
    this.favoriteUsers = this.store.getFavorites()
    this.prepareDataToExport()
  },
  data() {
    return {
      favoriteUsers: [],
      exportUsers: [],
      userSelected: {},
      optionsDate: { year: 'numeric', month: '2-digit', day: '2-digit' },
    }
  },
  methods: {
    /**
     * Format to Spain location with parameter with options format
     * @param value
     * @returns {string}
     */
    formatDate(value) {
      let date = new Date( value )
      return date.toLocaleDateString( 'es', this.optionsDate );
    },
    /**
     * To avoid nested data I have preferred create new object with the data to export
     */
    prepareDataToExport(){
      let dataToExport   = {}
      for (let user of this.store.getFavorites()) {
        dataToExport = {
          gender: user.gender,
          email: user.email,
          name: `${user.name.title} ${user.name.first} ${user.name.last}`,
          nat: user.nat,
          dob: this.formatDate( user.dob.date ),
          registered: this.formatDate( user.registered.date ),
        }
        this.exportUsers.push( dataToExport )
      }
    },
    /**
     * To User's detail
     * @param e
     */
    rowClick(e) {
      this.userSelected = e.data
      this.$router.push( `/user/${e.data.login.uuid}` )
    },
    routeToHome() {
      this.$router.push( '/' )
    },
  },
}
</script>