<template>
  <Button label="Buscar" @click="searchUsers" class="mb-2"/>
  <DataTable :value="users" v-model:selection="userSelected" v-model:filters="filters" selectionMode="single"
             showGridlines dataKey="email" responsiveLayout="scroll" filterDisplay="menu" @rowSelect="rowClick"
             :globalFilterFields="['gender']" v-show="showData">
    <Column field="gender" header="Género" filterField="gender">
      <template #body="{data}">
        {{ data.gender }}
      </template>
      <template #filter="{filterModel,filterCallback}">
        <InputText type="text" v-model="filters['gender'].value" @keydown.enter="filterCallback()"
                   class="p-column-filter"/>
      </template>
    </Column>
    <Column field="name" header="Nombre" filterField="name">
      <template #body="{data}">
        {{ data.name.title }} {{ data.name.first }} {{ data.name.last }}
      </template>
    </Column>
    <Column field="email" header="Email" filterField="email">
      <template #body="{data}">
        {{ data.email }}
      </template>
      <template #filter="{filterModel,filterCallback}">
        <InputText type="text" v-model="filters['email'].value" @keydown.enter="filterCallback()"
                   class="p-column-filter"/>
      </template>
    </Column>
    <Column field="nat" header="Nacionalidad" filterField="nat">
      <template #body="{data}">
        {{ data.nat }}
      </template>
      <template #filter="{filterModel,filterCallback}">
        <InputText type="text" v-model="filters['nat'].value" @keydown.enter="filterCallback()"
                   class="p-column-filter"/>
      </template>
    </Column>
    <Column field="registeredDate" header="Fecha de registro" filterField="date" dataType="date">
      <template #body="{data}">
        {{ formatDate( data.registered.date ) }}
      </template>
    </Column>
    <Column field="birthdate" header="Fecha de nacimiento" filterField="date" dataType="date">
      <template #body="{data}">
        {{ formatDate( data.dob.date ) }}
      </template>
    </Column>
    <Column field="age" header="Edad" filterField="date" dataType="date">
      <template #body="{data}">
        {{ data.dob.age }}
      </template>
    </Column>
  </DataTable>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { userService } from '../../domain/services/User.service';
import { FilterMatchMode } from 'primevue/api';
import { useRouter } from 'vue-router';
import User from './User.vue'
import { userStore } from "../../stores/users";

export default defineComponent({
  components: {User},
  setup() {
    const router = useRouter(),
          store  = userStore()
    return {router, store};
  },
  data() {
    return {
      showData: false,
      columns: null,
      users: [],
      userSelected: {},
      filters: {
        'gender': {value: null, matchMode: FilterMatchMode.CONTAINS},
        'nat': {value: null, matchMode: FilterMatchMode.CONTAINS},
        'email': {value: null, matchMode: FilterMatchMode.CONTAINS},
      },
      optionsDate: {year: 'numeric', month: '2-digit', day: '2-digit'},
    }
  },
  userService: null,
  mounted() {
    this.listUsers()
  },
  methods: {
    async searchUsers() {
      await this.store.getUsers()
      this.users = this.store.users
      this.showData = true
    },
    listUsers() {
      if(this.store.users !== null) {
        this.users = this.store.users
        this.showData = true
      }
    },
    formatDate(value) {
      let date = new Date(value)
      return date.toLocaleDateString('es', this.optionsDate);
    },
    /**
     * UUID is unique field. I found this option to handle the route to detail.
     * @param e
     */
    rowClick(e) {
      this.userSelected = e.data
      this.$router.push(`/user/${e.data.login.uuid}`)
    },
  },
})
</script>