<template>
  <Button icon="pi pi-home" @click="routeToHome" class="mb-2"/>
  <AvatarGroup>
    <Avatar :image="user.picture.large" alt="Image Text" class="mr-2" size="xlarge" shape="circle"/>
    <div class="ml-2" style="height: 45vh; width: 30vw;">
      <l-map :zoom="zoom" :center="center">
        <l-tile-layer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"/>
        <l-marker :lat-lng="markerLatLng" draggable/>
      </l-map>
    </div>
    <ToggleButton class="ml-2" offLabel="Favorite" on-label="Favorite" onIcon="pi pi-star-fill" offIcon="pi pi-star"
                  v-model="user.favorite" @click="isFavorite"/>
  </AvatarGroup>
  <h4>{{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</h4>
  <h4>{{ user.email }}</h4>
  <hr/>
  <h4>{{ user.location.city }}</h4>
  <h4>{{ user.location.street.name }} {{ user.location.street.number }} </h4>
  <h4>{{ user.phone }} </h4>
  <div style="margin-bottom: 3em">
    <Button label="Listado de favoritos" @click="routeTo"/>
  </div>
</template>
<script>
import { defineComponent } from 'vue';
import { LMap, LTileLayer, LMarker, LPopup, LPolyline, LPolygon, LRectangle } from "@vue-leaflet/vue-leaflet";
import "leaflet/dist/leaflet.css";
import { useRouter } from 'vue-router'
import { userStore } from '../../stores/users.ts'

export default defineComponent( {
  name: "User",
  components: { LMap, LTileLayer, LMarker, LPopup, LPolyline, LPolygon, LRectangle },
  setup() {
    const router = useRouter(),
          store  = userStore()
    return { router, store };
  },
  data() {
    return {
      user: this.store.findUser( this.$route.params.route ),
      favorite: false,
      zoom: 3,
      center: [],
      markerLatLng: []
    }
  },
  mounted() {
    this.parsingData()
  },
  methods: {
    /**
     * Location coordinates are not working correctly. I think API is not
     * returning correctly latitude and longitude, but I am not 100% sure
     */
    parsingData() {
      let parsedData = this.user
      this.center.push( parseFloat( parsedData.location.coordinates.latitude ),parseFloat( parsedData.location.coordinates.longitude ))
      this.markerLatLng.push( parseFloat( parsedData.location.coordinates.latitude ),parseFloat( parsedData.location.coordinates.longitude ))
    },
    isFavorite() {
      this.user.favorite = !this.user.favorite //switch
      if (this.user.favorite) {
        this.user.favorite = false
        this.store.removeFavorites( this.user.login.uuid )
      } else {
        this.user.favorite = true
        this.store.addFavorites( this.user.login.uuid, this.user )
      }
    },
    routeToHome() {
      this.$router.push( '/' )
    },
    /**
     * Favorites list
     */
    routeTo() {
      this.$router.push( '/favorites' )
    },
  },
} )
</script>

<style scoped>

</style>